name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      BUILD_TAG: 0

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
    
    - name: Checkout submodules
      run: |
        git submodule init
        git submodule update
        cd src/usbd/tinyusb
        git submodule init hw/mcu/nxp/
        git submodule update
        cd ../../../        

    - name: Set up Python
      uses: actions/setup-python@v1

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        export BUILD_TAG=build-$(date -u +'%Y%m%d%H%M')
        echo "BUILD_TAG=$BUILD_TAG" >> $GITHUB_ENV
        
    - name: Compile code
      run: platformio run
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ogx360_t4
        path: |
          .pio/build/
